img {
  width: 225px;
  height: 130px;
  margin-top: 10em;
  @media (min-width: 768px) {
    margin-top: unset;
    width: 412px;
    height: 238px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  @media (min-width: 768px) {
    height: 100vh;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 50%;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 2em;
    width: unset;
  }
}
