@import '../../styles/palette.scss';

.mobile-hidden {
  display: none;
  @media (min-width: 768px) {
    display: unset;
  }
}

.desktop-hidden {
  @media (min-width: 768px) {
    display: none;
  }
}

mat-toolbar {
  background-color: white;
  border: 1px solid black;
  height: 62px;
  @media (min-width: 768px) {
    height: 94px;
  }

  & button {
    margin-left: 20px;
  }
}

.menu-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-left: auto;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
  padding: 10px;
}

.nav-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
  min-width: 200px;
  margin-top: 62px; // toolbar height
}

.sidenav-opened {
  background-color: #efefefb2;
}

.content {
  display: flex;
  align-items: center;
  gap: 2em;
}

.links {
  font-size: 0.8rem;
  display: flex;
  align-items: center;

  & a {
    margin-left: 20px;
  }

  .active {
    color: $primary-500;
    font-weight: 500;
  }
}
