<div>
  <mat-icon routerLink="/auth">arrow_back</mat-icon>
  <h1>S'inscrire</h1>
</div>
<form [formGroup]="signinForm" (ngSubmit)="signin()">
  <div>
    <mat-form-field>
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="name" type="text">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email" type="email"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" type="password"/>
    </mat-form-field>
    @if (signinForm.get('password')?.dirty && signinForm.controls['password'].invalid) {
      <div>
        @if (!signinForm.controls.password.getError('isLongEnough')) {
          <mat-error>Le mot de passe doit contenir au moins 8 caractères</mat-error>
        } @else if (!signinForm.controls.password.getError('hasNumber')) {
          <mat-error>Le mot de passe doit contenir un nombre</mat-error>
        } @else if (!signinForm.controls.password.getError('hasLowerCase')) {
          <mat-error>Le mot de passe doit contenir un minuscule</mat-error>
        } @else if (!signinForm.controls.password.getError('hasUpperCase')) {
          <mat-error>Le mot de passe doit contenir un majuscule</mat-error>
        } @else if (!signinForm.controls.password.getError('hasSymbol')) {
          <mat-error>Le mot de passe doit contenir un caractère spécial</mat-error>
        }
      </div>
    }
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!signinForm.valid">
      S'inscrire
    </button>
  </div>

</form>
