<h2 mat-dialog-title>Modification du mot de passe</h2>
<form [formGroup]="passForm" (ngSubmit)="submit()">
  <mat-dialog-content>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Mot de passe actuel</mat-label>
        <input matInput formControlName="actualPassword" type="password" />
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          matInput
          formControlName="newPassword"
          [type]="passVisible() ? 'text' : 'password'" />
        <button mat-icon-button matSuffix (click)="togglePassVisibility()">
          <mat-icon>{{ passVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="password">
        @if (passForm.get('newPassword')?.dirty && passForm.controls['newPassword'].invalid) {
          @if (!passForm.controls.newPassword.getError('isLongEnough')) {
            <mat-error>Le mot de passe doit contenir minimum 8 caractères</mat-error>
          } @else if (!passForm.controls.newPassword.getError('hasNumber')) {
            <mat-error>Le mot de passe doit contenir un nombre</mat-error>
          } @else if (!passForm.controls.newPassword.getError('hasLowerCase')) {
            <mat-error>Le mot de passe doit contenir un minuscule</mat-error>
          } @else if (!passForm.controls.newPassword.getError('hasUpperCase')) {
            <mat-error>Le mot de passe doit contenir un majuscule</mat-error>
          } @else if (!passForm.controls.newPassword.getError('hasSymbol')) {
            <mat-error>Le mot de passe doit contenir un caractère spécial</mat-error>
          } @else {
            <mat-error>Le mot de passe n'est pas conforme</mat-error>
          }
        }
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="warn" mat-dialog-close>Annuler</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="!passForm.valid">
      Modifier
    </button>
  </mat-dialog-actions>
</form>
