<div class="back-button" [routerLink]="['..']">
  <span class="material-symbols-outlined">west</span>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1>Créer un nouvel article</h1>
  <mat-form-field>
    <mat-label>Sélectionnez un thème</mat-label>
    <input
      type="text"
      aria-label="thème"
      matInput
      formControlName="topic"
      [matAutocomplete]="auto" />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="selectedTopic($event)">
      @for (option of topicsSearch$ | async; track option.uuid) {
        <mat-option [value]="option">{{ option.label }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Titre de l'article</mat-label>
    <input matInput formControlName="title" type="text" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contenu de l'article</mat-label>
    <textarea matInput formControlName="content" rows="10"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary">Créer</button>
</form>
