@if (userTopics$ | async; as userTopics) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ topic().label || 'Label non renseigné' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ topic().description || 'Description non renseignée' }}</p>
    </mat-card-content>
    <mat-card-actions>
      @if (userTopics.includes(topic().uuid)) {
        <button
          mat-raised-button
          color="accent"
          (click)="removeTopic(topic().uuid)"
          [disabled]="isRemoveTopicsDisabled()">
          {{ isRemoveTopicsDisabled() ? 'Déjà abonné' : 'Se désabonner' }}
        </button>
      } @else {
        <button mat-raised-button color="primary" (click)="addTopic(topic().uuid)">
          S'abonner
        </button>
      }
    </mat-card-actions>
  </mat-card>
} @else {
  <div class="full-loader">
    <mat-spinner></mat-spinner>
  </div>
}
