@if (userTopics$ | async; as userTopics) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ topic().label || '' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ topic()?.description || '' }}</p>
    </mat-card-content>
    <mat-card-actions>
      @if (userTopics.includes(topic().uuid)) {
        <button mat-raised-button color="accent" (click)="removeTopic(topic().uuid)">
          Se désabonner
        </button>
      } @else {
        <button mat-raised-button color="primary" (click)="addTopic(topic().uuid)">
          S'abonner
        </button>
      }
    </mat-card-actions>
  </mat-card>
} @else {
  <mat-spinner></mat-spinner>
}
