@use 'styles/material';
@use 'styles/palette';
@use 'styles/form';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-snack-bar-container.success {
  background-color: darkolivegreen; /* Vert pour le succès */
  color: white;
}

.mat-snack-bar-container.error {
  background-color: #f44336; /* Rouge pour l'erreur */
  color: white;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

p,
span,
a {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: palette.$primary-500;
}

h1 {
  font-size: 24px;
}

.mobile-hidden {
  display: none;
  @media (min-width: 768px) {
    display: unset;
  }
}

.desktop-hidden {
  @media (min-width: 768px) {
    display: none;
  }
}
