.back-button {
  position: absolute;
  top: 10px;
  left: 10px;

  & span {
    width: 40px;
    height: 40px;
    font-size: 2.5em;
  }
}

h1 {
  margin: 17px 0 18px 60px;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word; /* Ancienne syntaxe, toujours reconnue */

  @media (min-width: 768px) {
    margin: 18px 0;
  }
}

.header {
  max-width: 700px;
  width: 90%;
  @media (min-width: 768px) {
    max-width: 900px;
    width: 80%;
  }
  margin: 10px auto 0;
}

article {
  max-width: 700px;
  width: 90%;
  @media (min-width: 768px) {
    max-width: 900px;
    width: 80%;
  }
  margin: auto;
}

.post-infos-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5em;
  & span {
    margin: 10px 0;
  }
}

hr {
  width: 95%;
}

.comment-bloc {
  display: flex;
  margin-bottom: 1em;

  & .comment-user {
    width: 200px;
    text-align: right;
    padding-right: 1em;
  }

  & .comment-content {
    background-color: var(--background-grey);
    border-radius: 10px;
    padding: 1em;
    flex: 1;
    min-height: 4em;

    & p {
      margin: 0;
    }
  }
}
